
<div class="cross-sells-wrapper" style="background-color: {{ block_settings.cross_sell_bg }};">
  {% if block_settings.title != blank %}
    <h4 class="label custom-font product-description-header">{{ block_settings.title }}</h4>
  {% endif %}
  {% assign subheading_font = settings.subheading--font %}
  {% assign base_font = settings.type_base_font %}
  <style>
    cross-sell {
      --cross-sell-bg: {{ block_settings.cross_sell_bg }};
      --color-primary: {{ settings.color_body_text }};
      --color-primary-light: {{ settings.color_body_text | color_modify: 'alpha', 0.2 }};
      --border-color: {{ settings.color_body_text | color_modify: 'alpha', 0.5 }};
      --border-color-subtle: {{ settings.color_body_text | color_modify: 'alpha', 0.1 }};
      --button-background-color: {{ settings.color_primary_button_background }};
      --button-background-hover-color: {{ settings.color_primary_button_background_hover }};
      --button-text-color: {{ settings.color_primary_button_text }};
      --body-font-size: {{ settings.typography-body-font-size }}px;
      {%- if settings.button_text_case == "uppercase" %}
        --buttons-transform: uppercase;
        --buttons-letter-spacing: 2px;
      {% else %}
        --buttons-transform: none;
        --buttons-letter-spacing: 0;
      {% endif -%}
      {%- if settings.buttons--font == 'body' %}
        --button-font-family: {{ base_font.family }}, {{ base_font.fallback_families }};
        --button-font-weight: {{ base_font.weight }};
        --button-font-style: {{ base_font.style }};
      {% endif -%}
    }

    {% if block_settings.cross_sell_bg != "rgba(0,0,0,0)" %}
      .cross-sells-wrapper {
        padding: 16px;
      }

      .select-wrapper ul {
        background-color: var(--color-primary-background);
      }
    {% endif %}

    .cross-sells-wrapper {
      margin: 15px 0;
    }

    .cross-sells-wrapper .product-description-header {
      margin-bottom: 16px;
    }
  </style>

  {% if block_settings.cross_sell_product1 != blank %}
    {% assign _product = all_products[block_settings.cross_sell_product1] %}
    {% render 'product-cross-sell', product_id: _product.id %}
  {% endif %}
  {% if block_settings.cross_sell_product2 != blank %}
    {% assign _product = all_products[block_settings.cross_sell_product2] %}
    {% render 'product-cross-sell', product_id: _product.id %}
  {% endif %}

  {% if block_settings.cross_sell_product3 != blank %}
    {% assign _product = all_products[block_settings.cross_sell_product3] %}
    {% render 'product-cross-sell', product_id: _product.id %}
  {% endif %}

</div>

<script src="{{ 'component-cross-sells.js' | asset_url }}" type="module" defer="defer"></script>