<div class="right-drawer-vue">
  {% comment %} There's no route available for the predictive search api URL yet {% endcomment %}
  <wetheme-right-drawer
    search-url="/search/suggest.json"
    login-url="{{ routes.account_login_url }}"
    is-predictive="{{ settings.predictive_search_enabled }}"
    search-products="{{ settings.predictive_search_products }}"
    search-pages="{{ settings.predictive_search_pages }}"
    search-articles="{{ settings.predictive_search_articles }}"
    search-collections="{{ settings.predictive_search_collections }}"
  >
  </wetheme-right-drawer>
</div>
<script type="text/x-template" id="wetheme-right-drawer-template">
  <div>
    <transition name="drawer-right">
      <div class="drawer drawer--right drawer--cart" v-if="isOpen" ref="drawerRight">
        <div class="drawer__header sitewide--title-wrapper">
          <div class="drawer__close js-drawer-close">
            <button type="button" class="icon-fallback-text" ref="drawerClose" v-on:click="close">
              <span class="fallback-text">{{ 'cart.general.close_cart' | t }}</span>
            </button>
          </div>
          <input ref="drawerFocus" tabindex="-1" aria-hidden="true" class="sr-only" />
          <div class="drawer__title h2 page--title">
            <span v-if="type === 'cart'"">{{ 'cart.general.title' | t }}</span>
            <span class="sr-only" v-if="type === 'shop-now'">{{ 'products.product.quick_shop' | t }}</span>
            <span v-if="type === 'login'">{{ 'customer.login.title' | t }}</span>
            <span v-if="type === 'search'">{{ 'general.search.title' | t }}</span>
          </div>
        </div>

        <div id="CartContainer" v-if="type === 'cart'">
          <form action="{{ routes.cart_url }}" method="post" novalidate class="cart ajaxcart" v-if="cart">
            <p class="empty-cart" v-if="cart.item_count === 0">{{ 'cart.general.empty' | t }}</p>

            <div class="ajaxcart__inner" v-if="cart.item_count > 0">
              <span v-if="cart.total_discount > 0" class="hide auto-discount--active"></span>
              <div class="ajaxcart__product" v-for="(item, index) in cart.items" :key="index + item.id">
                <div class="ajaxcart__row" v-bind:data-line="index + 1"
                  v-bind:class="{ 'is-loading': index + 1 === lineQuantityUpdating }"
                >
                  <div class="grid display-table">
                    <div class="grid__item small--one-whole medium--one-quarter large--one-quarter medium--display-table-cell">
                      <a v-bind:href="item.url" class="ajaxcart__product-image">
                        <img
                          src="#"
                          alt=""
                          v-responsive="item.image"
                          v-bind:alt="item.featured_image_alt"
                          v-if="item.image"
                        />
                        <img v-if="!item.image" src="//cdn.shopify.com/s/assets/admin/no-image-medium-cc9732cb976dd349a0df1d39816fbcc7.gif" alt="" v-bind:alt="item.product_title" loading="lazy" />
                      </a>
                    </div>
                    <div class="grid__item small--one-whole medium--two-quarters large--two-quarters medium--display-table-cell">
                      <p>
                        <a v-bind:href="item.url" class="ajaxcart__product-name" v-text="item.product_title"></a>
                        <span class="ajaxcart__product-meta" v-if="item.variant_title != 'Default Title'" v-text="item.variant_title"></span>
                        <span class="ajaxcart__product-meta" v-if="item.selling_plan_allocation" v-text="item.selling_plan_allocation.selling_plan.name"></span>
                        <span class="ajaxcart__product-meta" v-for="(item, key, index) in item.properties " :key="index">
                          <span v-text="key"></span>: <span v-text="item"></span>
                        </span>
                        {% if settings.cart_vendor_enable %}
                          <span class="ajaxcart__product-meta" v-text="item.vendor"></span>
                        {% endif %}
                      </p>
                      <div class="text-center">
                        <s>
                          <span class="ajaxcart-item__price-strikethrough"
                            v-if="item.compare_at_price > 0 && item.original_price < item.compare_at_price"
                            v-money="item.compare_at_price"
                          >

                          </span>
                        </s>

                        <span v-if="item.compare_at_price > 0 && item.original_price < item.compare_at_price" class="hide line-item__compare-at-price" v-text="item.compare_at_price * item.quantity"></span>
                        <span class="has--discount hide" v-text="item.original_price" v-if="item.compare_at_price > 0 && item.original_price < item.compare_at_price"></span>
                        <span class="price-no--discount hide" v-text="item.original_price * item.quantity" v-if="!item.compare_at_price"></span>

                        <span class="ajaxcart-item__price" v-money="item.original_price"></span>

                        {%- case settings.show_discount -%}
                          {%- when 'percentage' -%}
                          <span class="cart-compare-price--with-value" v-if="item.compare_at_price > 0 && item.original_price < item.compare_at_price">
                            <span class="discount--sale-color"> -<span class="discount--sale-color" v-text="Math.round((item.compare_at_price - item.original_price) / item.compare_at_price * 100)"></span>%</span>

                          </span>
                          {%- when 'value' -%}
                            <span class="cart-compare-price--with-value" v-if="item.compare_at_price > 0 && item.original_price < item.compare_at_price">
                              <span class="discount--sale-color"> -<span class="discount--sale-color" v-money="item.compare_at_price - item.original_price"></span></span>

                            </span>
                          {%- when 'hide' -%}
                        {%- endcase -%}

                        <div class="unit-price" v-if="item.unit_price_measurement_price">
                          (<span class="unit-price__price" v-money="item.unit_price_measurement_price"></span>
                          <span> / </span>
                          <span class="unit-price__ref-value" v-text="item.unit_price_measurement_value"></span>
                          <span class="unit-price__ref-unit" v-text="item.unit_price_measurement_unit"></span>)
                        </div>
                      </div>

                      <ul class="ajaxcart-item__discounts" aria-label="{{ 'customer.order.discount' | t }}">
                        <li class="ajaxcart-item__discount" v-if="item.line_level_discount_allocations.amount > 0">
                          <span class="hide auto-discount--price" v-text="item.line_level_discount_allocations.amount"></span>
                          <span class="ajaxcart-item__discount_title" v-text="item.line_level_discount_allocations.title"></span>
                          <span class="ajaxcart-item__discount_money">- <span v-money="item.line_level_discount_allocations.amount"></span></span>
                        </li>
                      </ul>

                      <div class="grid--full text-center ajaxcart__quantity-wrapper">
                        <div class="grid__item">
                          <div class="ajaxcart__qty">
                            <button
                              type="button"
                              class="ajaxcart__qty-adjust ajaxcart__qty--minus icon-fallback-text"
                              v-on:click="setQuantity(index + 1, item.quantity - 1); setSubtotal();"
                              v-if="!isGiftwrapProduct(item)"
                            >
                              <i class="fa fa-minus" aria-hidden="true"></i>
                              <span class="fallback-text">&minus;</span>
                            </button>
                            <input
                              type="text"
                              name="updates[]"
                              class="ajaxcart__qty-num"
                              v-bind:value="item.quantity"
                              min="0"
                              aria-label="quantity"
                              pattern="[0-9]*"
                              v-on:change="setQuantity(index + 1, parseInt($event.target.value, 10)); setSubtotal();"
                              :disabled="isGiftwrapProduct(item)"
                            />
                            <button
                              type="button"
                              class="ajaxcart__qty-adjust ajaxcart__qty--plus icon-fallback-text"
                              v-on:click="setQuantity(index + 1, item.quantity + 1); setSubtotal();"
                              v-if="!isGiftwrapProduct(item)"
                            >
                              <i class="fa fa-plus" aria-hidden="true"></i>
                              <span class="fallback-text">+</span>
                            </button>
                          </div>
                        </div>
                      </div>

                      <button
                        type="button"
                        class="ajaxcart__qty-remove"
                        v-on:click="setQuantity(index + 1, 0); setSubtotal();"
                        v-if="!isGiftwrapProduct(item)"
                      >
                        {{ 'cart.general.remove' | t }}
                      </button>

                    </div>
                  </div>
                </div>
              </div>

              <div class="ajaxcart__footer-wrapper">
                {% if settings.giftwrap_gift_note %}
                  <div class="ajax-cart--gift-note">
                    <label for="CartGiftNote" class="ajaxcart__gift-note">{{ 'products.general.giftwrap_note' | t }}</label>
                    <textarea id="CartGiftNote" class="input-full" v-model="giftNote" :disabled="updatingGiftNote" placeholder="{{ 'products.general.giftwrap_note_placeholder' | t }}"></textarea>
                  </div>
                {% endif %}
                {% if settings.cart_notes_enable %}
                  <div class="ajax-cart--notes">
                    <label class="ajaxcart__special_instructions" for="CartSpecialInstructions">{{ 'cart.general.note' | t }}</label>
                    <textarea name="note" class="input-full" id="CartSpecialInstructions">{{ note }}</textarea>
                  </div>
                {% endif %}

                <div class="ajaxcart__footer">
                  <div class="grid--full">

                    <div class="grid__item ajaxcart__subtotal_header">
                      <p>{{ 'cart.general.subtotal' | t }}</p>
                    </div>

                    <span v-for="(item, index) in cart.items" v-if="item.compare_at_price > 0" class="cart__compare-total hide"></span>
                    <s><span v-for="(item, index) in cart.items" v-if="item.compare_at_price > 0" class="line__compare_price ajaxcart__price-strikeout text-center"></span></s>

                    {%- case settings.show_discount -%}
                      {%- when 'percentage' -%}
                      <span v-for="(item, index) in cart.items" v-if="item.compare_at_price > 0" class="cart-compare-price--with-value percentage discount--sale-color">
                      </span>
                      {%- when 'value' -%}
                        <span v-for="(item, index) in cart.items" v-if="item.compare_at_price > 0" class="cart-compare-price--with-value value discount--sale-color">
                        </span>
                      {%- when 'hide' -%}
                    {%- endcase -%}

                    <ul class="grid__item ajaxcart-item__discounts" style="margin: 0" v-for="cartItem in cart.items">
                      <li class="ajaxcart-item__discount" v-if="cartItem.line_level_discount_allocations.amount > 0">
                        <span class="ajaxcart-item__discount_title" v-text="cartItem.line_level_discount_allocations.title"></span>
                        <span class="ajaxcart-item__discount_money">- <span v-money="cartItem.line_level_discount_allocations.amount"></span></span>
                      </li>
                    </ul>

                    <p class="hide cart__total" v-text="cart.total_price"></p>
                    <div class="grid__item ajaxcart__subtotal">
                      <p v-money="cart.total_price"></p>
                    </div>
                  </div>

                  <div class="cart__shipping rte">
                    {%- capture taxes_shipping_checkout -%}
                      {%- if cart.taxes_included and shop.shipping_policy.body != blank -%}
                        {{ 'cart.general.taxes_included_and_shipping_policy_html' | t: link: shop.shipping_policy.url }}
                      {%- elsif cart.taxes_included -%}
                        {{ 'cart.general.taxes_included_but_shipping_at_checkout' | t }}
                      {%- elsif shop.shipping_policy.body != blank -%}
                        {{ 'cart.general.taxes_and_shipping_policy_at_checkout_html' | t: link: shop.shipping_policy.url }}
                      {%- else -%}
                        {{ 'cart.general.taxes_and_shipping_at_checkout' | t }}
                      {%- endif -%}
                    {%- endcapture -%}
                    <p class="text-center">{{ taxes_shipping_checkout }}</p>
                  </div>

                  <button type="submit" class="cart__checkout" name="checkout">
                    {{ 'cart.general.checkout' | t }}
                  </button>

                  {% if additional_checkout_buttons and settings.enable-additional-checkout-buttons %}
                    <div class="additional-checkout-buttons additional-checkout-buttons--vertical">
                      {{ content_for_additional_checkout_buttons }}
                    </div>
                  {% endif %}
                </div>
              </div>
            </div>
          </form>
        </div>

        <div id="ShopNowContainer" v-if="type === 'shop-now'">
          <div ref="shopNowContent"></div>
        </div>

        <div id="SearchContainer" v-if="type === 'search'">
          <div class="search-drawer">
            <div class="input-group">
              <span class="input-group-btn">
                <button type="submit" class="btn icon-fallback-text" v-on:click="onSearchSubmit" tabindex="0">
                  <i class="fa fa-search"></i>
                  <span class="fallback-text">{{ 'general.search.submit' | t }}</span>
                </button>
              </span>
              <div class="search-input-group">
                <input
                  type="search" name="q" id="search-input" placeholder="{{ 'general.search.placeholder' | t }}"
                  class="input-group-field" aria-label="{{ 'general.search.placeholder' | t }}" autocomplete="off" autocorrect="off" spellcheck="false" ref="searchText"
                  v-model="searchQuery" @keydown.enter="onSearchSubmit"
                />
                <div class="search-drawer--clear" v-if="searchQuery.length > 0" v-on:click="clearSearchInput" tabindex="0">
                  <span class="search-drawer--clear-icon"></span>
                </div>
              </div>
            </div>
            <div class="wrapper-padded">
              <div id="search-results" class="grid-uniform">
                <div v-if="searching" class="search-loading">
                  <i class="fa fa-circle-o-notch fa-spin fa-fw"></i><span class="sr-only">{{ 'collections.paginate.loading' | t }}</span>
                </div>
                <div v-text="searchSummary" v-if="!searching"></div>
                <div class="search-results__meta top" v-if="searchHasResults">
                  <div class="search-results__meta-view-all"><a id="search-show-more" v-bind:href="searchPageUrlWithQuery" class="btn">{{ 'general.search.view_all' | t }}</a></div>
                </div>
                <div class="" v-for="group in searchGroups" v-if="!searching">
                  <h2 v-text="group.name" v-if="group.results.length"></h2>
                  <div class="indiv-search-listing-grid" v-for="result in group.results">
                    <div class="grid">
                      <div class="grid__item large--one-fifth live-search--image" v-if="result.featured_image">
                        <a v-bind:href="result.url" v-bind:title="result.title">
                          <span v-if="result.featured_image.url">
                            <img
                              loading="lazy"
                              v-bind:src="result.featured_image.url"
                              v-bind:alt="result.featured_image.alt"
                            />
                          </span>
                        </a>
                      </div>
                      <div class="grid__item line-search-content" :class="(result.image || result.featured_image) ? 'large--four-fifths' : 'large--one-whole'">
                        {% if settings.predictive_search_show_vendor %}
                        <div v-if="result.vendor" v-text="result.vendor"></div>
                        {% endif %}
                        <h5>
                          <a v-bind:href="result.url" v-text="result.title"></a>
                        </h5>
                        <div v-if="!result.available && group.name == 'Products'">{{ 'products.product.sold_out' | t }}</div>
                        {% if settings.predictive_search_show_price %}
                        <div v-if="result.price" v-html="result.price"></div>
                        {% endif %}
                      </div>
                    </div>
                    <span class="search-drawer-separator" v-if="group.results.length"><hr /></span>
                  </div>
                </div>
                <div class="search-results__meta bottom" v-if="searchHasResults">
                  <div class="search-results__meta-view-all"><a id="search-show-more" v-bind:href="searchPageUrlWithQuery" class="btn">{{ 'general.search.view_all' | t }}</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="LogInContainer" v-if="type === 'login'">
          <div ref="loginContent"></div>
        </div>
      </div>
    </transition>
  </div>
</script>
