<!DOCTYPE html>
<html lang="{{ request.locale.iso_code }}">

<head>
  {%- comment -%}DemoStoreRequirements{%- endcomment -%}
	<title>{{ 'coming_soon.general.title' | t }}</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

  <!-- CSS -->
  {% render 'css-variables' %}

  {{ 'theme-password.min.css' | asset_url | stylesheet_tag }}
  {{ 'custom.css' | asset_url | stylesheet_tag }}

  {{ content_for_header }}

  <script>
    window.wetheme = {
      name: 'Flow',
    };
  </script>


  {% render 'shogun-head' %}
</head>

<body>
  <div class="background-overlay password--container" data-wetheme-section-type="password" data-wetheme-section-id="password">

    {{ content_for_layout }}

  </div>

  <script defer type="module" src="{{ 'theme.min.js' | asset_url }}"></script>
  <script defer nomodule src="{{ 'theme.legacy.min.js' | asset_url }}"></script>
</body>
</html>
