{% if section.blocks.size > 0 %}
  <style>
    {% for block in section.blocks %}
      [data-color-name='{{ block.settings.title | handle }}'] {
        {% if block.settings.color != blank %}
          background-color: {{ block.settings.color }} !important;
        {% endif %}
        {% if block.settings.image != blank %}
          background-image: url({{ block.settings.image | img_url: '100x' }}) !important;
          background-size: cover !important;
        {% endif %}
      }
    {% endfor %}
  </style>
{% endif %}

{% schema %}
{
  "name": "Color swatch",
  "settings": [
  ],
  "blocks": [
    {
      "type": "Color",
      "name": "Color",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Color"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "color",
          "id": "color",
          "label": "Color"
        }
      ]
    }
  ]
}
{% endschema %}