<link rel="preload" href="{{ 'section-image-with-text.min.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'"/>
<noscript>{{ 'section-image-with-text.min.css' | asset_url | stylesheet_tag }}</noscript>

{% case section.settings.colors %}
  {% when 'white' %}
    {%- assign color_scheme = 'homepage-sections-wrapper--white' -%}
  {% when 'light' %}
    {%- assign color_scheme = 'homepage-sections-wrapper--light' -%}
  {% when 'accent' %}
    {%- assign color_scheme = 'homepage-sections-wrapper--accent' -%}
  {% when 'dark' %}
    {%- assign color_scheme = 'homepage-sections-wrapper--dark' -%}
{% endcase %}


<div
  class="homepage-sections-wrapper {{ color_scheme }} {% unless section.settings.text_overlapping_image %} feature-row--no-overlapping{% else %} feature-row--overlapping{% endunless %}{% if section.settings.section-width == 'content' %} content-width{% else %} full-width{% endif %}"
  data-wetheme-section-type="image--image-with-text" data-wetheme-section-id="{{ section.id }}"
>

  {% capture image_layout %}
    <div class="grid__item homepage-content--image homepage-content--{{ section.id }}{% if section.settings.text_overlapping_image %} overlapping-text{% else %} large--one-half{% endif %}{% if settings.ken_burns_enabled %} kb-enabled{% endif %}">
      <div>
        <div class='embed-container'>
          {% assign video_url = section.settings.video_url %}
          {% assign video_url = video_url | replace: 'vimeo.com', 'player.vimeo.com/video' | replace: 'watch?v=', 'embed/' %}
          <iframe title="{{ title | strip_html }}" class="lazyload" src='{{ video_url }}' frameborder='0' allow="autoplay" allowautoplay allowfullscreen></iframe>
        </div>
      </div>
    </div>
  {% endcapture %}

  {% if section.settings.section-width == 'content' %}
    <div class="wrapper-padded">
  {% endif %}

    <div class="homepage-indiv-section-wrapper grid--full homepage-featured-content-wrapper feature-row__text--{{ section.settings.layout }} feature-row__text-alignment--{{ section.settings.text_alignment }}">
      {{ image_layout }}

      <div class="feature_row__image_wrapper{% if section.settings.text_overlapping_image %} homepage-featured-content-box{% else %} large--one-half{% endif %}">
        {% if section.settings.title != blank or section.settings.text != blank or section.settings.button_label != blank %}

          {% unless section.settings.text_overlapping_image %}
            <div class="no-overlap-content-box">
          {% endunless %}

            <div class="homepage-featured-content-box-inner show-on-scroll">

              {% if section.settings.title != blank %}
                <div class="sitewide--title-wrapper">
                  <h2 class="homepage-sections--title">{{ section.settings.title | escape }}</h2>
                </div>
              {% endif %}

              {% if section.settings.text != blank %}
                <div class="rte featured-row__subtext textarea">{{ section.settings.text }}</div>
              {% endif %}

              {% if section.settings.button_label != blank and section.settings.button_link != blank %}
                <div class="clearfix">
                  <a href="{{ section.settings.button_link }}" class="homepage-featured-box-btn">
                    {{ section.settings.button_label | escape }}
                  </a>
                </div>
              {% endif %}

            </div>

          {% unless section.settings.text_overlapping_image %}
            </div>
          {% endunless %}
        {% endif %}
      </div>
    </div>

  {% if section.settings.section-width == 'content' %}
    </div>
  {% endif %}

</div>

{% schema %}
{
    "name": {
        "en": "Featured Video"
    },
    "class": "image-with-text-wrapper section-featured-video",
    "settings": [
        {
            "type": "select",
            "id": "colors",
            "label": {
                "en": "Color scheme",
                "de": "Farbschema",
                "es": "Esquema de colores",
                "fr": "Palette de couleurs",
                "pt-PT": "Esquema de cores"
            },
            "default": "light",
            "options": [
                {
                    "value": "white",
                    "label": {
                        "en": "Minimal",
                        "fr": "Minimal",
                        "de": "Minimal",
                        "es": "Mínimo",
                        "pt-PT": "Mínimo"
                    }
                },
                {
                    "value": "light",
                    "label": {
                        "en": "Light",
                        "de": "Licht",
                        "es": "Luz",
                        "fr": "Clair",
                        "pt-PT": "Claro"
                    }
                },
                {
                    "value": "accent",
                    "label": {
                        "en": "Feature",
                        "de": "Eigenschaft",
                        "es": "Destacado",
                        "fr": "Caractéristique",
                        "pt-PT": "Funcionalidade"
                    }
                },
                {
                    "value": "dark",
                    "label": {
                        "en": "Dark",
                        "de": "Dunkel",
                        "es": "Oscuro",
                        "fr": "Foncé",
                        "pt-PT": "Escuro"
                    }
                }
            ]
        },
        {
          "id": "video_url",
          "type": "video_url",
          "label": "Video URL",
          "accept": ["youtube", "vimeo"],
          "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
        },
        {
            "type": "checkbox",
            "id": "text_overlapping_image",
            "label": {
                "en": "Text overlapping image",
                "de": "Text überlappt das Bild",
                "es": "Texto superpuesto sobre imagen",
                "fr": "Texte chevauchant l'image",
                "pt-PT": "O texto sobrepõe-se à imagem"
            },
            "default": false
        },
        {
            "type": "select",
            "id": "section-width",
            "label": {
                "en": "Width",
                "de": "Breite",
                "es": "Ancho",
                "fr": "Largeur",
                "pt-PT": "Largura"
            },
            "default": "full",
            "options": [
                {
                    "value": "full",
                    "label": {
                        "en": "Full width",
                        "de": "Volle Breite",
                        "es": "Ancho completo",
                        "fr": "Pleine largeur",
                        "pt-PT": "Largura total"
                    }
                },
                {
                    "value": "content",
                    "label": {
                        "en": "Content width",
                        "de": "Abstände entfernen",
                        "es": "Eliminar espacio",
                        "fr": "Supprimer l'espacement ",
                        "pt-PT": "Remover o espaçamento"
                    }
                }
            ]
        },
        {
            "type": "select",
            "id": "layout",
            "label": {
                "en": "Layout",
                "de": "Layout",
                "es": "Diseño",
                "fr": "Mise en page",
                "pt-PT": "Apresentação"
            },
            "default": "left",
            "options": [
                {
                    "value": "left",
                    "label": {
                        "en": "Image on left",
                        "de": "Bild links",
                        "es": "Imagen a la izquierda",
                        "fr": "Image à gauche",
                        "pt-PT": "Imagem à esquerda"
                    }
                },
                {
                    "value": "right",
                    "label": {
                        "en": "Image on right",
                        "de": "Bild rechts",
                        "es": "Imagen a la derecha",
                        "fr": "Image à droite",
                        "pt-PT": "Imagem à direita"
                    }
                }
            ]
        },
        {
            "type": "select",
            "id": "text_alignment",
            "label": {
                "en": "Text alignment on desktop",
                "de": "Textausrichtung auf dem Desktop",
                "es": "Alineación del texto en escritorio",
                "fr": "Alignement du texte sur le bureau",
                "pt-PT": "Alinhamento de texto no ambiente de trabalho"
            },
            "default": "center",
            "options": [
                {
                    "value": "left",
                    "label": {
                        "en": "Left",
                        "de": "Links",
                        "es": "Izquierda",
                        "fr": "Gauche",
                        "pt-PT": "Esquerda"
                    }
                },
                {
                    "value": "center",
                    "label": {
                        "en": "Centered",
                        "de": "Zentriert",
                        "es": "Centrado",
                        "fr": "Centré",
                        "pt-PT": "Centrado"
                    }
                },
                {
                    "value": "right",
                    "label": {
                        "en": "Right",
                        "de": "Rechts",
                        "es": "Derecha",
                        "fr": "Droite",
                        "pt-PT": "Direita"
                    }
                }
            ]
        },
        {
            "type": "text",
            "id": "title",
            "label": {
                "en": "Heading",
                "de": "Überschrift",
                "es": "Encabezado",
                "fr": "Rubrique",
                "pt-PT": "Título"
            },
            "default": {
                "en": "Share brand or product details",
                "de": "Marken- oder Produktdetails teilen",
                "es": "Compartir marca o detalles del producto",
                "fr": "Partager les infos sur la marque ou le produit",
                "pt-PT": "Partilhar detalhes da marca ou produto"
            }
        },
        {
            "type": "richtext",
            "id": "text",
            "label": {
                "en": "Text",
                "de": "Text",
                "es": "Texto",
                "fr": "Texte",
                "pt-PT": "Texto"
            },
            "default": {
                "en": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
                "de": "<p>Fügen Sie langen Texten ein Bild hinzu, um dem Produkt, der Kollektion oder dem Blogpost Ihrer Wahl Fokus zu verleihen. Fügen Sie Details bezüglich der Verfügbarkeit oder dem Stil hinzu oder stellen Sie sogar eine Rezension zur Verfügung.</p>",
                "es": "<p> Combine texto grande con una imagen para focalizar la atención en su producto, colección o publicación del blog. Añada detalles sobre la disponibilidad, el estilo o, incluso, un comentario. </p>",
                "fr": "<p>Associez un texte en gros caractères à une image pour mettre en valeur le produit, la collection ou l'article de blog que vous avez choisi. Ajoutez des détails sur la disponibilité et le style ou même fournissez un commentaire.</p>",
                "pt-PT": "<p>Associe um texto de grandes dimensões a uma imagem para destacar o seu produto, coleção ou publicação no blog de eleição. Acrescente detalhes relativos à disponibilidade, estilo, ou até mesmo uma opinião.</p>"
            }
        },
        {
            "type": "text",
            "id": "button_label",
            "label": {
                "en": "Button label",
                "de": "Button-Bezeichnung",
                "es": "Etiqueta del botón",
                "fr": "Étiquette du bouton",
                "pt-PT": "Etiqueta do botão"
            }
        },
        {
            "type": "url",
            "id": "button_link",
            "label": {
                "en": "Button link",
                "de": "Buttonlink",
                "es": "Enlace del botón",
                "fr": "Lien du bouton",
                "pt-PT": "Ligação do botão"
            }
        }
    ],
    "presets": [
        {
            "name": {
                "en": "Featured Video"
            },
            "category": {
                "en": "Video"
            }
        }
    ]
}
{% endschema %}
