
{% assign image_block = section.blocks | where: "type", "collection_image" | first %}

<header class="section-header collection {% if section.settings.enable_image and collection.image != blank %}layout_banner{% endif %}">

  {% if section.settings.enable_image %}
    <div class="image_wrapper">
      {% render 'responsive-image' with collection.image, alt: collection_alt | escape %}
    </div>
  {% endif %}
  {% if section.settings.enable_title or section.settings.enable_desc %}
    <div class="info_wrapper">
      {% if section.settings.enable_title %}
        <h1 class="page--title">{{ collection.title }}</h1>
      {% endif %}
      {% if section.settings.enable_desc != blank %}
        <div class="rte rte--header collection-header__description wrapper-padded">
          {{ collection.description }}
        </div>
      {% endif %}
    </div>
  {% endif %}

  {% comment %}
  {%- for block in section.blocks -%}
    {%- case block.type -%}
      {%- when '@app' -%}
        {% render block %}
      {%- when 'title' -%}
        <div class="sitewide--title-wrapper wrapper-padded">
          <h1 class="page--title">{{ collection.title }}</h1>
        </div>
      {%- when 'description' -%}
        {% if collection.description != blank %}
          <div class="rte rte--header collection-header__description wrapper-padded">
            {{ collection.description }}
          </div>
        {% endif %}

      {%- when 'collection_image' -%}
        {% if collection.image != blank %}
          {% capture collection_alt %}{{ collection.image.alt | default: collection.title }}{% endcapture %}
          {% if image_block.settings.collection-image-size == 'original' %}
            {% render 'responsive-image' with collection.image, alt: collection_alt | escape, class: 'collection-page--feature-image' %}
          {% else %}
            <style>
              {% capture selector %}.collection-image .img{% endcapture %}
              {% render 'responsive-background-image' with collection.image, selector: selector %}

              .collection-image .img {
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
              }

              .collection-image .img {
                height: {{ image_block.settings.collection-image-size }};
              }
            </style>

            {% capture image_layout %}
              <div class="collection-image">
                  <div class="collection-page--feature-image">
                    <div id="rellax--collection-image" class="img" role="img" aria-label="{{ collection_alt | escape }}" ></div>
                  </div>
              </div>
            {% endcapture %}

            {{ image_layout }}

          {% endif %}
        {% endif %}

    {%- endcase -%}
  {%- endfor -%}
  {% endcomment %}
</header>




{% schema %}
{
  "name": "Collection header",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_image",
      "label": "Show collection image",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_title",
      "label": "Show title",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_desc",
      "label": "Show description",
      "default": true
    }
  ]
}
{% endschema %}
