/* Place any CSS overrides in this file. */


@font-face {
  font-family: 'HelveticaNeue';
  src: url('HelveticaNeue.ttf') format('truetype')
}

@font-face {
  font-family: 'InferiNormal';
  src: url('InferiNormal.ttf') format('truetype');
}

@font-face {
  font-family: 'InferiNormalItalic';
  src: url('InferiNormalItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Norwester';
  src: url('Norwester.ttf') format('truetype');
}

body * {
  font-family: 'HelveticaNeue';
}

h2, .font-heading {
  font-family: 'Norwester' !important;
}


/* --------------------------------- Layout ----------------------------- */

@media (min-width: 769px) {
  .hide--desktop {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .hide--mobile {
    display: none !important;
  }
}

.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}


/* ------------------------------- Site Header ---------------------------- */

header .site-header__nav .site-nav__dropdown li a {
  width: max-content;
}

/* ------------------------------- Collection Page ---------------------------- */

.section-header.collection {
  margin-top: 69px;
  position: relative;
}

.section-header.layout_banner {
  height: 500px;
}

.section-header.collection.layout_banner .image_wrapper {
  margin-top: 0px;
  margin-bottom: 0px;
}

.section-header.collection.layout_banner .image_wrapper * {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.section-header.collection .info_wrapper {
  color: #FFF;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}

@media (max-width: 768px) {
  .section-header.collection .info_wrapper {
    width: calc(100% - 40px);
    left: 20px;
  }
}

.section-header.collection .info_wrapper .page--title {
  font-size: 40px;
  text-align: left;
}

.section-header.collection .info_wrapper .collection-header__description {
  font-size: 18px;
  max-width: 540px;
  padding-left: 0px;
  padding-right: 0px;
  text-align: left;
}

@media (max-width: 768px) {
  .section-header.collection .info_wrapper .page--title, .section-header.collection .info_wrapper .collection-header__description {
    text-align: center;
  }
}

/* ------------------------------- Product Page ------------------------------ */

.product-details-wrapper {
  background: transparent !important;
}
.swatch .swatch-items-wrapper label {
  min-width: 30px !important;
  width: 30px !important;
  height: 30px !important;
}
.swatch .header {
  margin-bottom: 10px !important;
}
.swatch .swatch-element.color {
  margin-right: 12px !important;
}
input + [data-color-name] {
  border: none !important;  
  box-shadow: none !important;
}
input + [data-color-name]::after {
  display: none !important;
}
input:checked + [data-color-name]::after {
  border: 1px solid #000 !important;
  border-radius: 50% !important;
  display: block !important;
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  top: -4px !important;
  left: -4px !important;
}

body.template-product #ComparePrice {
  margin-left: 10px;
}

.cross-sells-wrapper {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.product-info-tab {
  margin-top: 10px;
}

.product-info-tab-header {
  margin-bottom: 10px;
}

.product-info-tab-header-item {
  cursor: pointer;
  margin-right: 20px;
}
.product-info-tab-header-item.active {
  color: #000;
  text-decoration: underline;
  text-underline-position: under;
}
.product-info-tab-content:not(.active) {
  display: none;
}
@media (min-width: 769px) {
  body.template-product .swiper-wrapper {
    flex-direction: unset;
  }
}

[data-slider] ul.slick-dots li {
  margin: 0px;
}

[data-slider] ul.slick-dots li button {
  background: #FFF;
  border: 1px solid #000;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  padding: 0px;
}

[data-slider] ul.slick-dots li.slick-active button {
  background: #000;
}

[data-slider] ul.slick-dots li button::before {
  display: none;
}


/* ----------------------------- About Us Page ----------------------------- */

@media (max-width: 768px) {
  body.template-page .shopify-section .homepage-sections-wrapper {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
